@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: "Poppins", sans-serif;
font-family: "DM Sans", sans-serif;
*/

.none {
    display: none !important;
}

/* General */

:root {
    --total-black: #000000;
    --black: #171718;
    --black-border: #26292d;
    --white: #ffffff;
    --purple: #5C62EC;

    --background-dark-color: var(--black);
    --dark-border-color: var(--black-border);
    --header-text-color: var(--white);
    --main-text-color: var(--black);
    --accent-color: var(--purple);

    /* Light mode  */

    --page-background-color: var(--white);
    --page-text-color: var(--black);
    --title-1: var(--accent-color);
    --project-color: var(--white);
    --project-title-color: var(--black);
    --project-shadow-color: var(--box-shadow-light);
    --box-shadow-light: 0px 5px 35px rgba(0, 0, 0, 0.25);
    
}

.dark {
    --page-background-color: #202020;
    --page-text-color: var(--white);
    --project-color: var(--black);
    --project-title-color: var(--white);
    --project-shadow-color: var(--box-shadow-dark);
    --box-shadow-dark: 0px 5px 35px rgba(0, 0, 0, 0.8);
    --title-1: var(--white);
}

html, body {
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: column;

    background-color: var(--page-background-color);
    color: var(--page-text-color);
}

a {
    color: var(--white);
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.button-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid var(--black);
    color: var(--black);
    letter-spacing: 0.15px;
    background-color: var(--white);
    transition: opacity 0.2s ease-in;
}

.button {
    display: inline-block;
    
    background-color: var(--accent-color);
    color: var(--white);

    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    transition: opacity 0.2s ease-in;
}

.button:hover, .button-outline:hover {
    opacity: .8;
}

.button:active, .button-outline:active {
    position: relative;
    top: 2px;
}

.section {
    padding: 70px 0;

}

.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
    columns: var(--black);
    text-align: center;
}

/* Nav */

.nav {
    background-color: var(--background-dark-color);
    color: var(--header-text-color);
    
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border-color);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    column-gap: 30px;
    row-gap: 20px;
}

.logo {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-right: auto;
}

.nav-list {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    transition: opacity .2s ease-in;
}

.nav-list__link:hover {
    opacity: .5;
}

.nav-list__link--active {
    position: relative;

}

.nav-list__link--active::before {
    content: "";
    display: block;

    height: 3px;
    width: 100%;
    
    background-color: var(--accent-color);

    position: absolute;
    bottom: 0;
    top: 100%;
}

/* Dark mode button */

.dark-mode-button {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 51px;
    height: 26px;
    background-color: #272727;
    border-radius: 50px;
    padding: 5px;
    order: 999;
}

.dark-mode-button::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: left .2s ease-in;
}

.dark-mode-button--active::before {
    left: 26px;
}

.dark-mode-button__icon {
    position: relative;
}

/* Header */

.header {
    background-color: var(--background-dark-color);
    background-image: url('./../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 695px;
    padding: 40px 0;
    text-align: center;
}

.header-content {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
}

.header__title span {
    color: var(--accent-color);
}

.header__text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.3;
}

.header__text p + p {
    margin-top: .5em;
}

.header__button {
    margin-top: 40px;
}

/* Projects */

.projects {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-color);
    box-shadow: var(--project-shadow-color);
    border-radius: 10px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    padding: 15px 20px 25px;

    color: var(--project-title-color);
}

/* Project details */

.project-details {
    max-width: 865px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-details__cover {
    width: 100%;
    max-width: 865px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.project-details__desk {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}

/* Content list */

.content-list {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    row-gap: 40px;
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: .5em;
}

.content-list__item .phone, .content-list__item .email {
    color: var(--accent-color);
}

/* Footer */

.footer {
    padding: 60px 0 50px;
    background-color: var(--background-dark-color);
    color: var(--header-text-color);
    margin-top: auto;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 27px;
}

.social {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    column-gap: 30px;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: .5em;
}

.copyright span {
    color: var(--accent-color);
}

/* Mobile  */

@media (max-width: 1200px) {

    /* Header  */

    .project {
        max-width: 420px;
    }

}

@media (max-width: 900px) {

    /* Header  */

    .project {
        max-width: 600px;
    }

}

@media (max-width: 620px) {

    /* Nav  */

    .nav-row {
        justify-content: space-between;
    }

    .header {
        background-size: cover;
        min-height: unset;
    }
    
    .header__title {
        font-size: 20px;
    }

    .header__title strong {
        font-size: 30px;
    }

    .header__text {
        font-size: 16px;
    }
    
    .header__button {
        margin-top: 20px;
    }

    .dark-mode-button {
        order: 0;
    }

    /* Header  */

    .title-1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .title-2 {
        font-size: 25px;
    }

    .projects {
        row-gap: 20px;
    }

    .project {
        max-width: 420px;
    }

    .project__title {
        font-size: 20px;
    }

    .section {
        padding: 40px 0;
    }

    /* Content list */

    .content-list {
        row-gap: 30px;
    }
    
    /* Footer  */

    .footer {
        padding: 40px 0 40px;
    }

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }
    
}